<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Features - 🅱️artistry</title>
    <meta name="description" content="Unleash the inner 🅱️artist!">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="../static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../static/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">🅱️artistry</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="features.html">How to use</a></li>
                    <li class="nav-item"><a class="nav-link" href="product-page.html">Product</a></li>
                    <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">How to Use</h2>
                    <p style="text-shadow: 0px 0px;">How does one simply use <strong><em>THE FUTURE</em></strong>?</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="icon-options-vertical icon"></i>
                        <h4>1.</h4>
                        <p>Download a simple image (with white background and simple contours) in jpg or png format. See&nbsp;<a href="gallery.html"><b>Gallery</b></a>&nbsp;for examples.</p>
                        <h4>2.</h4>
                        <p>Upload the image and set the base length to the number of characters you want on the base.<br></p>
                        <h4>3.</h4>
                        <p>Click the "Time Travel" button and be prepared to witness the future in all of its glory.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright"><p>Justin Semelhago - <a href="https://github.com/JSemelhago/Bartistry.git">Github</a></p></div>
    </footer>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="../static/js/smoothproducts.min.js"></script>
    <script src="../static/js/theme.js"></script>
</body>

</html>