<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Gallery - 🅱️artistry</title>
    <meta name="description" content="Unleash the inner 🅱️artist!">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="../static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../static/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">🅱️artistry</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="features.html">How to use</a></li>
                    <li class="nav-item"><a class="nav-link" href="product-page.html">Product</a></li>
                    <li class="nav-item"><a class="nav-link active" href="gallery.html">Gallery</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page gallery-page">
        <section class="clean-block clean-gallery dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Gallery</h2>
                    <p>Not brave enough to experience the future?<br><br>Not a problem, we got you covered</p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="../static/img/pear.jpg"><img class="img-thumbnail img-fluid image" src="../static/img/pear.jpg" style="background: url('../static/img/pear.jpg');" /></a></div>
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="../static/img/result.png"><img class="img-thumbnail img-fluid image" src="../static/img/result.png" width="350" height="150"/></a></div>
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="../static/img/scenery/pear_b.png"><img class="img-thumbnail img-fluid image" src="../static/img/scenery/pear_b.png" width="225" height="100"/></a></div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright"><p>Justin Semelhago - <a href="https://github.com/JSemelhago/Bartistry.git">Github</a></p></div>
    </footer>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="../static/js/smoothproducts.min.js"></script>
    <script src="../static/js/theme.js"></script>
</body>

</html>